.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff!important;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  color: #243865;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.homeButton {
  display: inline-block;
  padding: 12px 28px;
  font-size: 1rem;
  background-color: #E88534;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.homeButton:hover {
  background-color: #d27525;
  transform: translateY(-3px);
}
