/* =============================
   Layout
============================= */
.layout-review {
  padding: 0 16px 50px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1.5rem;
  padding: 0rem;
}

/* =============================
   Video Card
============================= */
.video-card {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 0.5rem;
}

.thumbnail-placeholder {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ddd;
}

.thumbnail {
  width: auto;   /* หรือไม่กำหนดก็ได้ */
  height: auto;  /* สำคัญ: ต้อง auto */
  object-fit: cover;
}

.video-card:hover .thumbnail {
  filter: brightness(0.4);
}

.video-card .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.video-card:hover .play-icon {
  opacity: 1;
}

.infovideo {
  margin-top: 0.75rem;
}

.titlevideo {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.datevideo {
  font-size: 14px;
  color: #555;
}


.skeletonvideo-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1.5rem;
}

.skeletonvideo-image {
  width: 100%;
  height: 180px;
}

.skeletonvideo-title {
  height: 20px;
  margin: 16px 0px 8px 0px;
  width: 70%;
}

.skeletonvideo-line {
  height: 16px;
  margin: 6px 0px 16px 0px;
  width: 90%;
  display: block;
}


/* =============================
   Responsive
============================= */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
  }

  .skeletonvideo-image { height: 180px; }
  .skeletonvideo-title { width: 80%; }
  .skeletonvideo-line  { width: 100%; }
  .titlevideo          { font-size: 16px; }
  .datevideo           { font-size: 13px; }
}

